* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
  
    background: transparent;
  
    font-family: inherit;
    
    text-decoration: none;
}
  
ol, ul, li {
    list-style:none;
    display:block;
}
  
table {
    border-collapse:collapse;
    border-spacing:0
}
  
a img {
    border: none
}
  
button, a {
    cursor: pointer;
    color: inherit
}
  
textarea {
    resize: none
}
  
button, input, textarea, select {
    appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 0
}

body{
    /* font-family: 'Montserrat', sans-serif; */
    background-color: #f8f7f3;
}
/* div{
    font-family: 'Overpass', sans-serif;
} */
header{
    display:flex;
    
    padding-right: 10px;
    padding-left: 10px;
    
    background-color:#1a24fb;
    color: #f8f7f3;

    width:100%;
    height: 40px;

    position: fixed;
    justify-content: space-between;
    align-items: center;
}
header h1{
    font-family: 'Overpass', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.material-icons{
    font-size: 24px;
}
